<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="a21ZEnQAKj" />
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="/static/ctf_favicon.ico" type="image/x-icon"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
  
    <meta name="description" content="CTFcode为CTF比赛人员、程序员提供20多种常用编码，如base家族编码、莫尔斯电码，20多种古典密码学，如仿射密码、栅栏密码、培根密码等，以及10多种杂项工具，如XXencode、UUencode等。">
    <meta name="keywords" content="CTF在线工具、CTF工具、CTF工具箱、CTF工具包、CTF编码、CTF加解密、CTF密码学、CTF算法、base64编码、base64在线解码、URL编码、HTML编码、utf-7、ADFGX密码、凯撒密码、rot13在线">
  
    <meta name="author" content="ctf.ssleye.com">
    <title>{% block title %}CTF在线工具-CTF工具|CTF编码|CTF密码学|CTF加解密|程序员工具|在线编解码{% endblock %}</title>
    <!-- <link rel="stylesheet" href="static/css/layui.css"> -->
    <!-- <link rel="stylesheet" href="static/css/ctf.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    
</head>
<body>
<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('index') }}" class="text-success"><strong style="color:#4295d2!important;">HUCTF</strong></a>
            <small class="text-muted sub-title">to help everyone</small>
        </h1>
    </header>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer class="text-center">
        {% block footer %}
            <small> &copy; GitHub <a href="https://github.com/HUCTF" title="Written by 99Kies">HUCTF</a> /
                <a href="http://ctf.hutc.xyz/" title="A HelloFlask project">HUCTF-CTF</a>
            </small>
            <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>
        {% endblock %}
    </footer>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/layui.js') }}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element','util'], function(){
        var element = layui.element,
        util = layui.util,
        $=layui.jquery;

        //TOP固定块
        util.fixbar({
          css: {right: 50, bottom: 100}
          ,bgcolor: '#9F9F9F'
        });
      })
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?beeb9fcd2a1fda9ad214b7e950c372fe";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>